<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatIO</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <div id="container">
      <div id="namesWrapper">
        <h2>ChatIO</h2>
        <p>Create Username: </p>
        <form action="index.html" method="post">
          <input type="text" size="25" id="username" placeholder="type smth.." >
          <input type="submit" value="Submit" >
        </form>
      </div>

      <div class="" id="mainWrapper">
        <h2>ChatIO</h2>
        <div class="" id="chatWrapper">
            <div class="" id="chatWindow">

            </div>
            <form id="messageForm">
                <input type="text" name="message" id="message" placeholder="type smth..">
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="" id="userWrapper">
          <div class="" id="users">

          </div>

        </div>

      </div>

    </div>
  </body>
</html>
